@layout('layouts/base')
@set('title', 'Login')

@section('main')
<div class="d-flex justify-content-center text-center">
    <div class="my-2 d-flex flex-column col-md-6">
        <a href="/github/redirect" class="btn btn-dark mb-2"><img src="/GitHub-Mark-Light-32px.png" alt="github logo"> Continue with GitHub</a>
        <a href="/discord/redirect" class="btn mb-2 blurple"><img class="auth-icon" src="/discord-mark-white.svg" alt="discord logo"> Continue with Discord</a>
    </div>
</div>
@end
