/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

header, nav, main, footer {
  padding: 2px calc((100% - 1000px) / 2) 0;
}

body {
  line-height: 1.5;
  background-color: #e6e6e6;
  color: #b3003b;
  overflow-y: scroll;
  min-height: 100vh;
}

main {
  padding-top: 25px;
  overflow-y: auto;
}

h1 {
  font-size: 24px;
}

h1 a {
  font-size: 36px;
  font-weight: bold;
  height: 36px;
  position: relative;
  color: black;
}

h2 a {
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: center;
}

header {
  background-color: #b3003b;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

a {
  color: black;
  font-weight: bold;
}

button {
  background: none;
  padding: 0;
  border: none;
  text-decoration: underline;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

nav {
  display: flex;
  gap: 5px;
}

table {
  width: 100%;
  border: 1px solid #b3003b;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #b3003b;
}

td, th {
  padding: 5px;
  text-align: center;
}

tr:nth-child(2n) {
  background-color: #cccccc;
}

td form button {
  color: #b3003b;
  display: inline-block;
  font-weight: normal;
}

td form a {
  color: #b3003b;
  font-weight: normal;
}

td a {
  color: #b3003b
}

form label {
  display: inline-block;
  margin-bottom: 9px;
}

form input {
  margin-bottom: 10px;
}

form input[type="text"], form input[type="password"], form input[type="email"] {
  padding: 5px;
  width: 100%;
}

form input[type=text], form input[type="password"], form input[type="email"], form input[type="number"] textarea {
  background: #FFFFFF;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

form input[type=submit] {
  background-color: #b3003b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

form input[type=submit]:hover {
  background-color: #990033;
  cursor: pointer;
}

form input[type='number']{
  width: 80px;
}

footer {
  margin-top: auto;
}

.thumbnail {
  height: 75px;
  width: 75px;
}

.text-align-right {
  text-align: right;
}

.flex-spaced {
  display: flex;
  justify-content: space-between;
}

.grow {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  flex-grow: 1;
}

.center {
  margin: auto;
}

.tarantula-img {
  height: 250px;
  width: 250px;
  border: 1px solid black;
}

.tarantula-container {
  text-align: center;
}

@media only screen and (max-width: 40em) {
  thead {
      display: none;
  }

  td, th {
      display: block;
  }

  td[data-th]:before  {
      content: attr(data-th);
      font-weight: bold;
  }

  header{
    flex-direction: column;
  }

  .flex-spaced {
    flex-direction: column;
  }
} */

.tarantula-card {
  width: 18rem;
}

.card-img-top {
  height: 200px;
}

.img-fluid {
  max-height: 300px;
}

.logout-img {
  height: 24px;
  width: 24px;
}

.blurple {
  background-color: #5865F2 !important;
  color: white !important;
}

.auth-icon {
  height: 32px;
  width: 32px;
}

.bg-img-container {
background-image: url("tarantula-bg.jpg");
height: 60vh;
background-size: cover;
position: relative;
text-align: center;
}

.welcome-header {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.black-bg-100 {
  background-color: #181818 !important;
}

body {
  min-height: 100vh;
}

@media (max-width: 480px) { 
  .container-sm {
    padding: 0 !important;
    margin: 0 !important;
  }
 }