<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tarantulabox - {{ title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link href="/main.css" rel="stylesheet" >
</head>
      <body>
    <header>
        <h1><a href="/">Tarantulabox</a></h1>
    </header>
    @include('partials/nav')
    <main>
      @if(flashMessages.has('global_message'))
          <div>{{ flashMessages.get('global_message') }}</div>
      @end
        @!section('main')
    </main>
    <footer>
        Powered by <a href="https://adonisjs.com/">AdonisJS</a> in {{new Date().getFullYear()}}
    </footer>
  </body>
</html>
