<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarantulabox - {{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="/main.css" rel="stylesheet" >
    <link href="/bootstrap.min.css" rel="stylesheet" >
</head>
    <body>
        <header>
            @include('partials/nav')
        </header>
    <main class="container-sm">
        @if(flashMessages.has('global_message'))
            <div class="bg-success d-flex justify-content-center"><h2>{{ flashMessages.get('global_message') }}</h2></div>
        @end
        @!section('main')
    </main>
    <footer class="navbar fixed-bottom container-sm">
        <div>
            Powered by <a href="https://adonisjs.com/">AdonisJS</a> in {{new Date().getFullYear()}}
        </div>
    </footer>
  </body>
</html>
